// общие стили
$block-width: 1140px;
$opacity: .7;

// logo
$logo-width: 91px;
$logo-height: 27px;

// header
$location-icon-size: 20px;
$whatsapp-icon-size: 28px;
$button-width: 196px;
$button-height: 43px;

// arrow
$arrow-size: 34px;

// socails
$social-icon-size: 35px;

// colors
$color-1: #0DBC91;
$color-2: #fff;
$color-3: #1FA181;
$color-4: #F8FBFA;
$color-5: #364844;
$color-6: #868686;
$color-7: #E2F0EF;
$color-8: #C0C0C0;
$color-9: #08664F;